#myId{
    background-color: red;
}
#test{
    background-color: red;
}
.inner{
	display: block;
	padding:15px;
}
.outer {
	display: inline-block;
}
div{
    background-color: white;
}
#container div {
    color:red;
    border:1px dotted black;
}
#container{
    width:50%;
    margin:0 auto;
}
#clear{
    display:inline-block;
    padding:20px;
    border:1px solid black;
    border-radius:4px;
    margin-left:400px;
}
