#myId{
    background-color: red;
}
#test{
    background-color: red;
}
.inner{
	display: block;
	padding:15px;
}
.outer {
	display: inline-block;
}
div{
    background-color: white;
}
#container div {
    color:red;
    border:1px dotted black;
    margin:auto;
}
#container{
    display:block;
}
